<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>VUE Basic</title>
        <style>

        </style>
    </head>
    <body>
        <div id="app">
            message:{{message}}
            check:{{check}}
            <input type="text" v-model="message">
            <input type="checkbox" v-model="check" value="A" id="a">
            <label for="a">Option A</label> 
            <input type="checkbox" v-model="check" value="B" id="b">
            <label for="b">Option B</label> 
            <input type="checkbox" v-model="check" value="C" id="c">
            <label for="c">Option C</label> 
            <input type="checkbox" v-model="check" value="D" id="d">
            <label for="d">Option D</label> 
        </div>
        <div id="anotherApp">
            anMessage:{{anMessage}}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            //Vue is object instantiate should be done before using it
            var app = new Vue({
                el:"#app",
                data:{
                    message:"hello, world",
                    check:[],
                }
            })
            var anApp = new Vue({
                el:"#anotherApp",
                data:{
                    anMessage:"good work"
                }
            })
        </script>
    </body>
</html>